<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="misplantillas/mi-plantilla :: head"></head>

<body class="banner">
	<header th:replace="misplantillas/mi-plantilla :: header"></header>
	<div class="container mt-3">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-10 col-md-9">

				<div class="card o-hidden border-0 shadow-lg  my-5 bg-azul">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							
							<div class="col-lg-12">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4">Registre</h1>
									</div>
									<form  th:action="@{/registros/form-registro}" th:object="${asistente}" method="post">
									 
										<div class="form-row">
										
											<div class="form-group col-md-5">
												<label for="nombre">Nombre</label> <input type="text"
													class="form-control" id="nombre" th:value="${asistente.nombre}" name="nombre" >
											</div>
											<div class="form-group col-md-5">
												<label for="curso">Curso</label> <input
													type="text" class="form-control" id="curso" th:field="*{evento.titulo}" name="curso" disabled="disabled">
											</div>
											<div class="form-group col-md-2">
												<label for="costo">costo</label> <input type="text"
													class="form-control" id="costo" th:field="*{opcion.costoEvento}"  name="costo">
											</div>
										</div>
										<div class="form-group">
											<label for="direccion">Direccion</label> <input type="text"
												class="form-control" id="direccion"
												placeholder="1234 Main St" th:field="*{direccion}" name="direccion">
										</div>
										
										<div class="form-row">
											<div class="form-group col-md-4">
												<label for="fechaDeCompra">Feha de compra</label> <input type="date"
													class="form-control" id="fecha"   name="fechaDeCompra" th:field="*{opcion.fechaDeCompra}">
											</div>
											
											<div class="form-group col-md-4">
												<label for="telefono">telefono</label> <input type="text"
													class="form-control" id="telefono" th:field="*{telefono}"  name="telefono">
											</div>
											
											<div class="form-group col-md-4">
												<label for="taller.id">Taller</label>
												 <select id="taller.id" class="form-control" th:field="*{opcion.taller}">
													<option value="">Seleccionar</option>
													<option th:each="taller : ${listaTalleres}" th:text="${taller.nombreTaller}" th:value="${taller.id}">...</option>
												</select>
											</div>
											
											
										</div>
										<div class="form-group">	
											<div class="form-check">
												<input class="form-check-input" type="checkbox" id="comida" th:field="*{opcion.comida}">
												 <label class="form-check-label" for="comida"> Con comida</label>
											</div>
										</div>
										
										
										<button type="submit" class="btn btn-primary">Sign in</button>
									</form>

								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>
	

	

	<footer th:replace="misplantillas/mi-plantilla :: footer"></footer>
	
</body>
</html>