<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="misplantillas/mi-plantilla :: head"></head>
<body class="banner">
	<header th:replace="misplantillas/mi-plantilla :: header"></header>




	<div class="container pt-3">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-12 col-md-9">

				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">
							<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
							<div class="col-lg-6">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4  mb-4">Gafete</h1>
									</div>
									<div class="card bg-dark card-text-center"
										style="width: 20rem;">

										<i th:if="${asistente.opcion.comida == true}"
											class="fas fa-battery-full fa-3x ml-3 text-center text-white"></i>
										<i th:if="${asistente.opcion.comida == false}"
											class="fas fa-battery-half fa-3x ml-3 text-center text-white"></i>
										<div class="card-body  text-white text-center">
											<h5 class="card-title">Evento</h5>
											<p class="card-text lead "
												th:text="${asistente.evento.titulo}"></p>
										</div>
										<ul class="list-group list-group-flush">
											<li class="list-group-item"
												th:text="'nombre: ' + ${asistente.nombre}"></li>

											<li class="list-group-item"
												th:text="'taller: ' + ${asistente.opcion.taller.nombreTaller}"></li>

											<li class="list-group-item"
												th:text="'inicia: ' + ${asistente.evento.inicia}"></li>
											<li class="list-group-item"
												th:text="'clausura:' + ${asistente.evento.termina}"></li>
										</ul>
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<div class="card-body mt-5">
				<a th:href="@{/registros/form-registros/} + ${asistente.id}"
					class="btn btn-outline-danger btn-block p-3 mb-5">editar</a> <a
					th:href="@{/}" class="btn btn-outline-warning btn-block p-3 lead">finalizar</a>
				<hr>
				<p th:text="'costo comida: $'+ ${asistente.opcion.costoComida}"></p>
				<hr>
				<p th:text="'costo evento: $' + ${asistente.opcion.costoEvento}"></p>
				<hr>
				<p th:text="'costo taller: $' + ${asistente.opcion.costoTaller}"></p>
				<hr>
				<p th:text="'costo total' + ${asistente.opcion.total}"
					class="lead text-white"></p>

			</div>

		</div>
	</div>


	<footer th:replace="misplantillas/mi-plantilla"></footer>

</body>
</html>