<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="misplantillas/mi-plantilla :: head"></head>
<body class="banner">
	<header th:replace="misplantillas/mi-plantilla :: header"> </header>

	<div class="container pt-5">

		<div class="card banner border-0">
			<div class="display-4 text-white" th:text="${titulo}"></div>
			<div class="card-body border-0">

				<table class="table table-borderless ">
					<thead class="thead-inverse text-center">
						<tr class="text-white">
						<th>costo evento</th>
						<th>nombre</th>
						<th>total evento</th>



						</tr>
					</thead>
					<tbody>
						<tr th:each="asistente: ${asistentes}"
							th:if="${asistente.opcion.costoEvento == 800}">
							<td th:text="${asistente.opcion.costoEvento}" class="text-center"></td>
							<td><a class="btn btn-default btn-block text-white"
								href="#" th:text="${asistente.nombre}"></a></td>
								<td th:text="${asistente.opcion.total}" class="text-center"></td>
							<td><a class="btn btn-default btn-block text-white"
								th:href="@{/registros/form-registros/} + ${asistente.id}"
								th:text="'editar'"></a></td>
							<td><a class="btn btn-default btn-block text-white"
								th:href="@{/registros/eliminar-registro/} + ${asistente.id}"
								th:text="'eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
		
		<div class="card-body border-0">

			<table class="table table-borderless ">
				<thead class="thead-inverse text-center">
					<tr class="text-white">
					<th>costo evento</th>
						<th>nombre</th>
						<th>total evento</th>



					</tr>
				</thead>
				<tbody>
					<tr th:each="asistente: ${asistentes}"
						th:if="${asistente.opcion.costoEvento == 500}">
						<td th:text="${asistente.opcion.costoEvento}" class="text-center"></td>
						<td><a class="btn btn-default btn-block text-white" href="#"
							th:text="${asistente.nombre}"></a></td>
						<td th:text="${asistente.opcion.total}" class="text-center"></td>
						<td><a class="btn btn-default btn-block text-white"
							th:href="@{/registros/form-registros/} + ${asistente.id}"
							th:text="'editar'"></a></td>
						<td><a class="btn btn-default btn-block text-white"
							th:href="@{/registros/eliminar-registro/} + ${asistente.id}"
							th:text="'eliminar'"
							onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
					</tr>
				</tbody>

			</table>
		</div>
	</div>
	<p th:text="'Gran total: $' +${total}" class="text-center display-4"></p>


	


	<footer th:replace="misplantillas/mi-plantilla :: footer"></footer>
</body>
</html>