@charset "UTF-8";


body {
    font-family: 'Bebas Neue', cursive;
    background-color: #f5f3f5;
}

.navbar {
    background-color: #0D0D0D;
    border-top: 6px solid#67645E;
    padding: 0;
    margin: 0 !important;
}

.navbar .navbar-brand {
    display: block;
    background-color: #67645E;
    padding: 15px 45px;
    color: #f5f3f5;
    font-style: italic;
}

.navbar .nav-link {
    font-size: 20px;
    padding: 10px 15px;
    margin: 0 10px;
    color: #67645E;
}

.navbar .nav-link:hover {
    background-color: #67645E;
    color: #f5f3f5;
}

.ajuste-80{
	min-height: 80vh;
}

.banner{
	background:linear-gradient(rgba(103, 100, 94,0.6),
	rgba(245, 243, 245,0.6)),
	url("/img/grises.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
}

.bg-login-image {
  background: url("https://source.unsplash.com/K4mSJ7kc0As/600x800");
  background-position: center;
  background-size: cover;
}
.bg-azul{
	background-color: #D9DADC;
}

