<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="misplantillas/mi-plantilla :: head"></head>
<body class="banner">

	<header th:replace="misplantillas/mi-plantilla :: header"></header>

	<section class="py-5">
		<div class="container">
			<h1 th:text="${titulo}" class="text-center pt-5"></h1>
			<div class="row row-cols-1 row-cols-md-2">
				<div class="col mb-4" th:each=" evento : ${eventos}"  th:if="${evento.activo == true}">
					<div class="card" th:if="${evento.activo == true}">
						<img th:src="@{'/uploads/' + ${evento.imagen}}" class="card-img-top" alt="..."
							style="height: 12rem;">
						<div class="card-body">
							<h5 class="card-title display-4 text-center" th:text="${evento.titulo}"></h5>
							<ul class="list-group list-group-flush">
							<li class="list-group-item">
							<p class="card-text" th:text="${evento.descripcion}"></p>
							</li>
							
								<li class="list-group-item"
									th:text="'inicio: ' + ${evento.inicia}"></li>
								<li class="list-group-item" th:text="'finaliza: ' + ${evento.termina}"></li>
							<li class="list-group-item">
							<a th:href="@{/registros/form-registro/} + ${evento.id}" class="btn btn-primary btn-block" th:text="'Registrate'"></a>
							</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>


	<footer th:replace="misplantillas/mi-plantilla :: footer"></footer>

</body>
</html>