<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8">
<title>Practica arquitectura de software</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
	rel="stylesheet">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
	<header th:fragment="header" class="mb-5">


		<nav class="navbar navbar-expand-md fixed-top">
			<a class="navbar-brand" href="#">
				<h3>UACM</h3>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#collapsibleNavId">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end"
				id="collapsibleNavId">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/}">inicio</a>
					<li class="nav-item"><a class="nav-link" th:href="@{/listar}" >Eventos</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/registros/listar}">Asistentes</a></li>
					<li class="nav-item mr-5"><a class="nav-link" th:href="@{/listar-taller}">Talleres</a></li>
					

					<li class="nav-item ">
						<div class="alert alert-danger my-auto mr-5"
							th:if="${error != null}" th:text="${error}"></div>
						<div class="alert alert-warning" th:if="${warning != null}"
							th:text="${warning}"></div>
						<div class="alert alert-success" th:if="${success != null}"
							th:text="${success}"></div>
						<div class="alert alert-info" th:if="${info != null}"
							th:text="${info}"></div>
					</li>
				</ul>
				<ul class="navbar-nav navbar-right">
					<li><a
						class="btn btn-outline-secondary btn-lg mr-3 px-4"
						th:href="@{/login}">Sign In</a></li>

					
				</ul>
			</div>
		</nav>
	</header>

	<footer th:fragment="footer">
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
	</footer>


</body>
</html>