<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="misplantillas/mi-plantilla :: head"></head>
<body class="banner">
	<header th:replace="misplantillas/mi-plantilla :: header"> </header>

	<div class="container mt-3">

		<!-- Outer Row -->
		<div class="row justify-content-center">

			<div class="col-xl-10 col-lg-10 col-md-9">

				<div class="card o-hidden border-0 shadow-lg  my-5 bg-azul">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="row">

							<div class="col-lg-12">
								<div class="p-5">
									<div class="text-center">
										<h1 class="h4 text-gray-900 mb-4" th:text="${titulo}"></h1>
									</div>
									<div>
										<a class="btn btn-outline-dark btn-block"
											th:text="'crear evento'" th:href="@{/formulario-evento}"></a>
									</div>
									<div class="table-responsive-sm">
										<table class="table">
											<thead>
												<tr>

													<th scope="col">Evento</th>
													<th scope="col">Inicio</th>
													<th scope="col">Cierre</th>
													<th scope="col">ponente</th>
													<th scope="col">editar</th>
													<th scope="col">eliminar</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="evento: ${eventos}">

													<td th:text="${evento.titulo}" class="my-auto"></td>
													<td th:text="${evento.inicia}"></td>
													<td th:text="${evento.termina}"></td>
													<td th:text="${evento.ponente}"></td>
													<td><a th:href="@{/formulario-evento/} + ${evento.id}" th:text="editar"
														class="btn btn-secondary btn-sm "></a></td>
													<td><a th:href="@{/}" th:text="eliminar"
														class="btn btn-secondary btn-sm"></a></td>

												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>
	</div>



	<footer th:replace="misplantillas/mi-plantilla :: footer"></footer>
</body>
</html>